@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
  --color:#333;
}

* , ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.quote-box{
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  text-align: center;
}

.colored{
  background-color: var(--color);
  border:none;
}

.text-colored{
  color: var(--color);
}

#text{
  font-size:1.5rem;
}

#text::before{
  content:'"';
}
#author{
  text-align: end;
  margin: 10px 0 40px;
}
#author::before{
  content:'-';
}

#new-quote{
  padding:7px
}

.row{
  justify-content: space-between;
}

